<div id="booklet_fields" style="display: block">
    <div class="form-group">
        <label for="blank"><b>blank:</b></label>
        <input type="text" class="form-control" name="blank" placeholder="required" required>
    </div>      
    <div class="form-group">
        <label for="blank"><b>blank:</b></label>
        <input type="number" class="form-control" style="width: 150px;" id="blank" name="year" placeholder="required" required min="1000">
    </div>
    <div class="form-group">
        <label for="blank"><b>blank:</b></label>
        <input type="text" class="form-control" name="blank" placeholder="required">
    </div>
    <div class="form-group">
        <label for="blank"><b>blank:</b></label>
        <input type="text" class="form-control" name="blank" placeholder="required">
    </div>
    <div class="form-group">
        <label for="blank"><b>blank:</b></label>
        <input type="text" class="form-control" name="blank" placeholder="required">
    </div>

    <div class="form-group">
        <label for="blank"><b>blank:</b></label>
        <input type="text" class="form-control" name="blank" placeholder="blank">
    </div>
    <div class="form-group">
        <label for="blank"><b>blank:</b></label>
        <input type="text" class="form-control" name="blank" placeholder="blank">
    </div>
    <div class="form-group">
        <label for="blank"><b>blank:</b></label>
        <input type="text" class="form-control" name="blank" placeholder="blank">
    </div>
    <div class="form-group">
        <label for="blank"><b>blank:</b></label>
        <input type="text" class="form-control" name="blank" placeholder="blank">
    </div>
    <div class="form-group">
        <label for="blank"><b>blank:</b></label>
        <input type="text" class="form-control" name="blank" placeholder="blank">
    </div>
    <div class="form-group">
        <label for="blank"><b>blank:</b></label>
        <input type="text" class="form-control" name="blank" placeholder="blank">
    </div>
    <div class="form-group">
        <label for="blank"><b>blank:</b></label>
        <input type="text" class="form-control" name="blank" placeholder="blank">
    </div>
</div>