<div id="misch_fields" style="display: block">
    <div class="form-group">
        <label for="blank"><b>blank:</b></label>
        <input type="text" class="form-control" name="blank" placeholder="optional">
    </div>
    <div class="form-group">
        <label for="blank"><b>blank:</b></label>
        <input type="text" class="form-control" name="blank" placeholder="optional">
    </div>
    <div class="form-group">
        <label for="blank"><b>blank:</b></label>
        <input type="text" class="form-control" name="blank" placeholder="optional">
    </div>
    <div class="form-group">
        <label for="blank"><b>blank:</b></label>
        <input type="text" class="form-control" name="blank" placeholder="optional">
    </div>
    <div class="form-group">
        <label for="blank"><b>blank:</b></label>
        <input type="text" class="form-control" name="blank" placeholder="optional">
    </div>
    <div class="form-group">
        <label for="blank"><b>blank:</b></label>
        <input type="text" class="form-control" name="blank" placeholder="optional">
    </div>
    <div class="form-group">
        <label for="blank"><b>blank:</b></label>
        <input type="text" class="form-control" name="blank" placeholder="optional">
    </div>
    <div class="form-group">
        <label for="blank"><b>blank:</b></label>
        <input type="text" class="form-control" name="blank" placeholder="optional">
    </div>
    <div class="form-group">
        <label for="blank"><b>blank:</b></label>
        <input type="text" class="form-control" name="blank" placeholder="optional">
    </div>
    <div class="form-group">
        <label for="blank"><b>blank:</b></label>
        <input type="text" class="form-control" name="blank" placeholder="optional">
    </div>
</div>