{% extends "layout.html" %}

{% block title %}
Muokkaa viitettä
{% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-4 align-self-center">
            <h2>Muokkaa viitettä</h2>
            <form action="/update_reference" method="post" id="new_reference" style="display: inline-block;">
                <!-- REQUIRED -->
                <input type="hidden" name="citation_key" value="{{reference.citation_key}}">
                <input type="hidden" id="author" name="author">
                <div id="required_fields">
                    <b>Authors:</b>
                    <ul id="author_list">
                    </ul>
                    <div class="form-group">
                        <div class="row">
                            <div class="col">
                                <input type="text" class="form-control" id="first_name" placeholder="Etunimi">
                            </div>
                            <div class="col">
                                <input type="text" class="form-control" id="last_name" placeholder="Sukunimi">
                            </div>
                            <button type="button" class="btn btn-primary" id="add_author_button">Lisää author</button>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="entry_type"><b>Type:</b></label>
                        <select name="entry_type" id="entry_type">
                            <option value="book" selected> book
                            <option value="article"> article
                            </select>
                    </div>
                    <div class="form-group">
                        <label for="title"><b>Title:</b></label>
                        <input type="text" class="form-control" name="title" value="{{ reference.title }}" required>
                    </div>
                    <div class="form-group">
                        <label for="publisher"><b>entry_type:</b></label>
                        <input type="text" class="form-control" name="entry_type" value="{{ reference.entry_type }}" required>
                    </div>
                    <div class="form-group">
                        <label for="year"><b>Year:</b></label>
                        <input type="number" class="form-control" style="width: 150px;" id="year" name="year" value="{{ reference.year }}" required min="1000">
                    </div>
                </div>

                <!-- OPTIONAL -->

                <div id="optional_fields" style="display: none">
                    <div class="form-group">
                        <label for="address"><b>Address:</b></label>
                        <input type="text" class="form-control" name="address" value="{{ reference['address'] }}">
                    </div>
                    <div class="form-group">
                        <label for="volume"><b>Volume/Number:</b></label>
                        <input type="text" class="form-control" name="volume" value="{{ reference['volume'] }}">
                    </div>
                    <div class="form-group">
                        <label for="series"><b>Series:</b></label>
                        <input type="text" class="form-control" name="series" value="{{ reference['series'] }}">
                    </div>
                    <div class="form-group">
                        <label for="edition"><b>Edition:</b></label>
                        <input type="text" class="form-control" name="edition" value="{{ reference['edition'] }}">
                    </div>
                    <div class="form-group">
                        <label for="month"><b>Month:</b></label>
                        <input type="text" class="form-control" name="month" value="{{ reference['month'] }}">
                    </div>
                    <div class="form-group">
                        <label for="note"><b>Note:</b></label>
                        <input type="text" class="form-control" name="note" value="{{ reference['note'] }}">
                    </div>
                    <div class="form-group">
                        <label for="url"><b>URL:</b></label>
                        <input type="text" class="form-control" name="url" value="{{ reference['url'] }}">
                    </div>
                </div>

                <button type="button" class="btn btn-primary" id="toggle_optionals_button">Näytä valinnaiset</button>
                <button type="submit" class="btn btn-primary">Tallenna muutokset</button>
            </form>
        </div>
    </div>
</div>
{% for author in authors %}
<script>addAuthor("{{author.etunimi}}", "{{author.sukunimi}}")</script>
{% endfor %}

<script>setCurrentYearAsMax("year")</script>
<script>createReferenceFormButtons()</script>
{% endblock %}
