{% extends "layout.html" %}

{% block title %}
Muokkaa viitettä
{% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-4 align-self-center">
            <h2>Edit reference</h2>
            <form action="/update_reference" method="post" id="new_reference" style="display: inline-block;">

                <div class="form-group entry-type-group">
                    <label for="entry_type"><b>Entry Type:</b></label>
                    <input type="text" class="form-control" name="entry_type" id="entry_type" value="{{ reference.entry_type }}" readonly>
                </div>
                <div class="form-group entry-type-group">
                    <label for="citation_key"><b>Citation Key:</b></label>
                    <input type="text" class="form-control" name="citation_key" id="citation_key" value="{{ reference.citation_key }}" readonly>
                </div>

                <input type="hidden" id="author" name="author">

                <div class="author-container">
                    <h3>Author Information (at least one is required)</h3> <!-- Otsikko kenttäryhmälle -->

                    <div class="row">
                        <input type="hidden" id="author" name="author">

                        <div class="col">
                            <label for="first_name"><b>First name:</b></label>
                            <input type="text" class="form-control" id="first_name">
                        </div>

                        <div class="col">
                            <label for="last_name"><b>Last name:</b></label>
                            <input type="text" class="form-control" id="last_name">
                        </div>

                        <button type="button" class="btn btn-primary" id="add_author_button">Add author</button>
                    </div>
                <ul id="author_list">
                    <!-- Authors will be added here dynamically -->
                </ul>

                </div>

                <div id="required_fields">
                    {% for field in required_fields %}
                        <div class="form-group">
                            <label for="{{ field }}"><b>{{ field.capitalize() }}:</b></label>
                            <input type="text" class="form-control" name="{{ field }}" value="{{ reference_fields.get(field, '') }}">
                        </div>
                    {% endfor %}
                </div>

                <div id="optional_fields">
                    {% for field in optional_fields %}
                        <div class="form-group">
                            <label for="{{ field }}"><b>{{ field.capitalize() }}:</b></label>
                            <input type="text" class="form-control" name="{{ field }}" value="{{ reference_fields.get(field, '') }}">
                        </div>
                    {% endfor %}
                </div>

               <button type="submit" class="btn btn-primary">Save</button>

                <!-- Cancel button -->
                <a href="{{ url_for('browse_references') }}" class="btn btn-secondary">Cancel</a>
            </form>
        </div>
    </div>
</div>

{% for author in authors %}
<script>addAuthor("{{author.firstnames}}", "{{author.lastname}}")</script>
{% endfor %}

<script>createEditFormListeners()</script>
{% endblock %}
