{% extends "layout.html" %}

{% block title %}
Muokkaa viitettä
{% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-4 align-self-center">
            <h2>Edit references</h2>
            <form action="/update_reference" method="post" id="new_reference" style="display: inline-block;">

                <input type="hidden" name="citation_key" value="{{reference.citation_key}}">
                <input type="hidden" id="author" name="author">
                <div id="required_fields">

                    <b>Type: </b>{{reference.entry_type}} <br>

                <b>List of authors: </b>(at least one author is required)

                <ul id="author_list">
                    <!-- LIST OF AUTHORS-->
                </ul>

                <div class="form-group">
                    <div class="row">
                        <input type="hidden" id="author" name="author">
                        <div class="col">
                            <label for="first_name"><b>First name:</b></label>
                            <input type="text" class="form-control" id="first_name">
                        </div>
                        <div class="col">
                            <label for="last_name"><b>Last name:</b></label>
                            <input type="text" class="form-control" id="last_name">
                        </div>
                        <button type="button" class="btn btn-primary" id="add_author_button">Add author</button>
                    </div>
                </div>

                    <div class="form-group">
                        <label for="title"><b>Title:</b></label>
                        <input type="text" class="form-control" name="title" value="{{ reference.title }}" required>
                    </div>
                    <div class="form-group">
                        <label for="year"><b>Year:</b></label>
                        <input type="number" class="form-control" style="width: 150px;" id="year" name="year" value="{{ reference.year }}" required min="1000">
                    </div>
                </div>

                <!-- OPTIONAL -->

                <div class="form-group" id="optional_fields">
                    {% for field in reference.extra_fields %}
                        <label for="{{field}}"><b>{{field}}:</b></label>
                        <input type="text" class="form-control" name="{{field}}" value="{{reference.extra_fields[field]}}">
                    {% endfor %}
               </div>
               
               <button type="submit" class="btn btn-primary">Save</button>
            </form>
        </div>
    </div>
</div>

{% for author in authors %}
<script>addAuthor("{{author.firstnames}}", "{{author.lastname}}")</script>
{% endfor %}

<script>createEditFormListeners()</script>
{% endblock %}
