{% extends "layout.html" %}

{% block title %}
Etusivu
{% endblock %}

{% block body %}
<script>document.getElementById("nav_koti").classList.toggle("active")</script>
<div class="container-fluid">
    <div id="loading_message" class="alert alert-info" style="display:none;">
        Haku on käynnissä, odota hetki...
    </div>
    
    <div class="row justify-content-center">
        <div class="col-10 align-self-center">
            <div class="mt-4">
                <label for="search_field">ACM-tietokantahaku:</label>
            </div>
            <form method="POST" action="/search" id="search_form">
                <div class="d-flex">
                    <input type="text" id="search_field" class="form-control mr-2" placeholder="Hae tietoja..." name="query" style="max-width: 50%;"/>
                    <button class="btn btn-primary" type="submit" id="search_button">Hae</button>
                </div>
            </form>
        </div>
    </div>

    {% if results %}
        <div class="row justify-content-center mt-4">
            <div class="col-10">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Author(s)</th>
                            <th>Year</th>
                            <th>Title</th>
                        </tr>
                    </thead>
                    <tbody id="result_table">
                        {% for result in results %}
                            <tr>
                                <td>{{ result.authors }}</td>
                                <td>{{ result.year }}</td>
                                <td><a href="{{ result.doi_link }}" target="_blank">{{ result.title }}</a></td>
                                <td>
                                    {% if result.pdf_url != "PDF-linkkiä ei löytynyt" %}
                                        <a href="{{ result.pdf_url }}" target="_blank" class="btn btn-secondary btn-sm">PDF</a>
                                    {% else %}
                                        <button class="btn btn-secondary btn-sm" disabled>PDF</button>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    {% endif %}
</div>
{% endblock %}