<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
        <script src="../static/scripts.js"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="../static/style.css">
        <title>{% block title %}{% endblock %}</title>
    </head>
    <body>
        <header class="header">
            <h1>BibTeX-viitteidenhallinta</h1>
        </header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                  <a class="nav-link" href="/">Koti <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/references">Viitteet</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/new_reference">Uusi viite</a>
                </li>
              </ul>
        </nav>
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <div id="flash-messages" class="container mt-3">
                {% for category, message in messages %}
                <div class="alert alert-{{ category }} fade show" role="alert">
                    {{ message }}
                </div>
                {% endfor %}
            </div>
        {% endif %}
        {% endwith %}

        {% block body %}{% endblock %}
    </body>
</html>
