<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
        <script src="../static/scripts.js"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="../static/style.css">
        <title>{% block title %}{% endblock %}</title>
    </head>
    <body>
        <header class="header">
        <h1>BibTeX-viitteidenhallinta</h1>
        </header>
        <div>
        <a href="/">Koti</a> |
        <a href="/references">Viitelistaus</a> |
        <a href="/new_reference">Uusi viite</a>
        </div>

        {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul id="flash-messages">
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
            </ul>
        {% endif %}
        {% endwith %}
        {% block body %}
        
        {% endblock %}
        
    </body>
</html>
