{% extends "layout.html" %}

{% block title %}References{% endblock %}

{% block body %}
<script>document.getElementById("nav_references").classList.toggle("active")</script>
<div class="container-fluid text-center">
    <div class="row justify-content-center">
        <div class="col">
            <h2>References</h2>
            <div>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Entry Type</th>
                            <th>Citation Key</th>
                            <th>Author</th>
                            <th>Title</th>
                            <th>Year</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for reference in references %}
                        <tr class="mainfields">
                            <td>{{ reference.entry_type }}</td>
                            <td>{{ reference.citation_key }}</td>
                            <td>{{ reference.author }}</td>
                            <td>{{ reference.title }}</td>
                            <td>{{ reference.year }}</td>
                            <td>
                                <a href="/edit_reference/{{ reference.citation_key }}">
                                    <button type="button" name="editbutton" class="btn btn-edit">Edit</button>
                                </a>
                            </td>
                            <td>
                                <form action="/delete_reference/{{ reference.citation_key }}" method="POST">
                                    <button type="submit" class="btn btn-delete"
                                            onclick="return confirm('Are you sure you want to delete reference?')">Delete</button>
                                </form>
                            </td>
                        </tr>
                        <tr class="extrafields">
                            <td colspan="7">
                                <div style="display: flex; justify-content: center;">
                                    <ul style="column-count: 7; text-align: left;">
                                        {% for key, value in reference.extra_fields.items() %}
                                            <li style="margin-right: 100px;">{{key}}: {{value}}</li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </td>
                        </tr>
                        {% else %}
                        <tr>
                            <td colspan="7">No references</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="row" style="display: flex; justify-content: center; margin-top: 25px;">
        <button class="btn btn-primary" onclick="downloadReferences()">Download</button>
    </div>
        </a>
    </div>
</div>
{% endblock %}