{% extends "layout.html" %}

{% block title %}References{% endblock %}

{% block body %}
<script>document.getElementById("nav_references").classList.toggle("active")</script>
<div class="container-fluid text-center">
    <!-- Hakukentät vasemmalle -->
    <div class="row justify-content-start" style="text-align: left;">
        <div class="col-2">
            <label for="search_author"><b>Author:</b></label>
            <input type="text" class="form-control" id="search_author" onkeyup="filterTable()" placeholder="Search for author..">
        </div>
        <div class="col-2">
            <label for="search_title"><b>Title:</b></label>
            <input type="text" class="form-control" id="search_title" onkeyup="filterTable()" placeholder="Search for title..">
        </div>
        <div class="col-1">
            <label for="filter_year"><b>Min Year:</b></label>
            <input type="number" class="form-control" id="min_year" onkeyup="filterTable()" placeholder="Min year...">
        </div>
        <div class="col-1">
            <label for="filter_year"><b>Max Year:</b></label>
            <input type="number" class="form-control" id="max_year" onkeyup="filterTable()" placeholder="Max year...">
        </div>
    </div>

    <!-- Painike oikealle -->
    <div class="row justify-content-end" style="margin-top: 25px;">
        <button class="btn btn-primary" onclick="downloadReferences()">Download references as BibTeX</button>
    </div>

    <!-- Taulukko -->
    <div class="row justify-content-center">
        <div class="col">
            <h2>References</h2>
            <div>
                <table class="table" id="reference_table">
                    <thead>
                        <tr>
                            <th>Entry Type</th>
                            <th>Citation Key</th>
                            <th>Author</th>
                            <th>Title</th>
                            <th>Year</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for reference in references %}
                        <tr class="mainfields">
                            <td>{{ reference.entry_type }}</td>
                            <td>{{ reference.citation_key }}</td>
                            <td>{{ reference.author }}</td>
                            <td>{{ reference.title }}</td>
                            <td>{{ reference.year }}</td>
                            <td>
                                <a href="/edit_reference/{{ reference.citation_key }}">
                                    <button type="button" name="editbutton" class="btn btn-edit">Edit</button>
                                </a>
                            </td>
                            <td>
                                <form action="/delete_reference/{{ reference.citation_key }}" method="POST">
                                    <button type="submit" class="btn btn-delete"
                                            onclick="return confirm('Are you sure you want to delete reference?')">Delete</button>
                                </form>
                            </td>
                        </tr>
                        <tr class="extrafields">
                            <td colspan="7">
                                <div class="extrafields-wrapper">
                                    <ul class="extrafields-list">
                                        {% for key, value in reference.extra_fields.items() %}
                                            <li>{{ key }}: {{ value }}</li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </td>
                        </tr>
                        {% else %}
                        <tr>
                            <td colspan="7">No references</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}
