{% extends "layout.html" %}

{% block title %}Viitteet{% endblock %}

{% block body %}
<script>document.getElementById("nav_references").classList.toggle("active")</script>
<div class="container-fluid text-center">
    <div class="row justify-content-center">
        <div class="col">
            <h2>Viitteet</h2>
            <div>
                <table class="table" style="font-size: 80%;">
                    <thead>
                        <tr>
                            <th scope="col">Entry Type</th>
                            <th scope="col">Citation Key</th>
                            <th scope="col">Author</th>
                            <th scope="col">Title</th>
                            <th scope="col">Year</th>
                            <th scope="col">Extra Fields</th>
                            <th></th>
                            <th></th> 
                        </tr>
                    </thead>
                    <tbody>
                        {% for reference in references %}
                        <tr>
                            <td>{{ reference.entry_type }}</td>
                            <td>{{ reference.citation_key }}</td>
                            <td>{{ reference.author }}</td>
                            <td>{{ reference.title }}</td>
                            <td>{{ reference.year }}</td>
                            <td>
                                <b>Extra Fields:</b>
                                <ul>
                                    {% for key, value in reference.extra_fields.items() %}
                                        <li><b>{{ key }}:</b> {{ value }}</li>
                                    {% endfor %}
                                </ul>
                            </td>
                            <td>
                                <a href="/edit_reference/{{ reference.id }}">
                                    <button type="button" class="btn btn-warning">Edit</button>
                                </a>
                            </td>
                            <td>
                                <form action="/delete_reference/{{ reference.id }}" method="POST">
                                    <button type="submit" class="btn btn-danger"
                                            onclick="return confirm('Haluatko varmasti poistaa viitteen?')">Poista</button>
                                </form>
                            </td>
                        </tr>
                        {% else %}
                        <tr>
                            <td colspan="7">Ei viitteitä saatavilla.</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div style="display: flex; justify-content: center; margin-top: 25px;">
                <a href="/download">
                    <button class="btn btn-primary">Download</button>
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}

