{% extends "layout.html" %}

{% block title %}
New reference
{% endblock %}

{% block body %}
<script>document.getElementById("nav_new_reference").classList.toggle("active")</script>

<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-4 align-self-center">
            <h2>Create new reference</h2>
            <form action="/create_reference" id="new_reference" method="post" style="display: inline-block;">

                <div id="field_profiles" style="display: none;">
                    {{ field_profiles | tojson | safe }}
                </div>

                <div class="form-group">
                    <label for="entry_type"><b>Type:</b></label>
                    <select name="entry_type" id="entry_type">
                        <option value="">Select entry type
                      {% for entry_type in field_profiles.keys() %}
                        <option value="{{entry_type}}"> {{entry_type}}
                      {% endfor %}
                    </select>
                </div>
                <div id="required_fields">

                    <b>Authors:</b>
                    <ul id="author_list">
                        <!-- Authors will be added here dynamically -->
                    </ul>

                    <div class="form-group">
                        <div class="row">
                            <input type="hidden" id="author" name="author">
                            <div class="col">
                                <input type="text" class="form-control" id="first_name" placeholder="Firstnames">
                            </div>
                            <div class="col">
                                <input type="text" class="form-control" id="last_name" placeholder="Lastname">
                            </div>
                            <button type="button" class="btn btn-primary" id="add_author_button">Add author</button>
                        </div>

                        <div class="form-group">
                            <label for="title"><b>Title:</b></label>
                            <input type="text" class="form-control" name="title" required>
                        </div>      
                        
                        <div class="form-group">
                            <label for="year"><b>Year:</b></label>
                            <input type="number" class="form-control" style="width: 150px;" id="year" name="year" required min="1000">
                        </div>                              
                    </div>
                </div>

                <div class="form-group" id="optional_fields">
                     <br>
                </div>

                <button type="submit" class="btn btn-primary">Save</button>
            </form>
        </div>
    </div>
</div>

<script>createReferenceFormListeners()</script>
{% endblock %}