{% block body %}
    <div id="addReferencePopup" class="popup" style="display:none;">
        <div class="popup-content">
            <span class="popup-close" onclick="closeAddReferencePopup()">&times;</span>

            {% if error_message %}
            <div class="alert alert-danger" role="alert">
                {{ error_message }}
            </div>
            {% else %}
            <h2>Add new reference</h2>
            <form id="referenceForm" action="/popup_new_search_reference/{{ result_id }}" method="post">
                <input type="hidden" name="entry_type" value="{{ entry_type }}">
                
                <div class="form-group">
                    <label for="entry_type"><b>Entry Type:</b></label>
                    <input type="text" class="form-control" name="entry_type" id="entry_type" value="{{ entry_type.capitalize() }}" readonly>
                </div>
                <div id="required_fields">
                    {% for field in required_fields %}
                        <div class="form-group">
                            <label for="{{ field }}"><b>{{ field.capitalize() }}:</b></label>
                            <input type="text" class="form-control" name="{{ field }}" value="{{ reference.get(field, '') }}">
                        </div>
                    {% endfor %}
                </div>

                <div id="optional_fields">
                    {% for field in optional_fields %}
                        <div class="form-group">
                            <label for="{{ field }}"><b>{{ field.capitalize() }}:</b></label>
                            <input type="text" class="form-control" name="{{ field }}" value="{{ reference.get(field, '') }}">
                        </div>
                    {% endfor %}
                </div>

                <input type="hidden" name="redirect_to" id="redirect_to" value="/references">

                <button type="button" class="btn btn-primary" onclick="showRedirectPopup()">Save reference</button>
                <button type="button" class="btn btn-secondary" id="cancel_edit_button" onclick="closeAddReferencePopup()">Cancel</button>
            </form>
            {% endif %}
        </div>
    </div>

    <div id="redirectPopup" class="popup" style="display:none;">
        <div class="popup-content">
            <span class="popup-close" onclick="closeRedirectPopup()">&times;</span>
            <h2>Saving... Where would you like to go?</h2>
            <button type="button" class="btn btn-primary" onclick="redirectToDatabase()">Go to References page</button>
            <button type="button" class="btn btn-secondary" onclick="stayOnPage()">Stay on Search page</button>
        </div>
    </div>
{% endblock %}
