/* Row */
.row {
    margin-top: 30px;
    margin-bottom: 30px;
}

/* Extrafields */
.extrafields {
    display: none;
    background-color: #f0f8ff;
    border-style: solid;
    color: #118594;
    border-color: #055569;
    border-radius: 8px;
}

.mainfields:hover + .extrafields {
    display: table-row;
}

.mainfields:hover {
    background-color: #138496;
    color: #fff;
    border-color: #055f7a;
    border-radius: 8px;
}


/* Popup */
.popup {
    display: none;
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);

}

/* Popup Content */
.popup-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    max-height: 80%;
    overflow-y: auto;
    padding: 25px;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1); /* Pehmeämpi varjo */
    text-align: center;
}

/* Popup Close */
.popup-close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 28px;
    color: #073f3c;
    cursor: pointer;
}

/* Form Styles */
h3 {
    font-size: 16px;
    margin-bottom: 8px;
    color: #04151b;
}

/* Form Field Styles */
.form-group {
    margin-bottom: 12px;
    padding: 10px;
    background-color: #f9f9f9;
    border-radius: 8px;
    text-align: left;
}

/* Form Control */
.form-control {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: border 0.3s ease-in-out;
}

.form-control:focus {
    border-color: #076f7c;
}

/* Button Styles */
.popup-buttons {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.alert {
    max-width: 95%;
    padding: 15px;
    border-radius: 10px;
    font-size: 18px;
    text-align: center;
    margin-bottom: 15px;
    word-wrap: break-word;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Success Alert */
.alert-success {
    background-color: #c3e6cb; /* Vaaleanvihreä */
    color: #155724;
    border-color: #d4edda;
}

/* Warning Alert */
.alert-warning {
    background-color: #fff3cd; /* Vaaleankeltainen */
    color: #856404;
    border-color: #ffeeba;
}

/* Danger Alert */
.alert-danger {
    background-color: #f8d7da; /* Vaaleanpunainen */
    color: #721c24;
    border-color: #f5c6cb;
}


/* Button */
.btn {
    padding: 8px 16px;
    font-size: 16px;
    border-radius: 8px;
    transition: background-color 0.3s ease, transform 0.3s ease;
    border: none;
}

button.btn {
    display: inline-block;
    margin-left: 10px;
}

/* Primary Button - Default Turquoise */
.btn-primary {
    background-color:  #017a7a;
    color: white;
}

/* Secondary Button  */
.btn-secondary {
    background-color: #1197ac;
    color: white;
}

/* Edit Button (Oranssi/Keltainen) */
.btn-edit {
    background-color: #f0a500;
    color: rgb(3, 3, 3);
}

/* Delete Button (Punainen) */
.btn-delete {
    background-color: #e74c3c;
    color: white;
}

/* Hover Effects */
.btn-edit:hover {
    background-color: #f39c12;
    transform: scale(1.05);
}

.btn-delete:hover {
    background-color: #c0392b;
    transform: scale(1.05);
}

.btn-primary:hover {
    background-color: #015e5e;
    transform: scale(1.05);
}

.btn-secondary:hover {
    background-color: #0f75a5;
    transform: scale(1.05);
}

/* Navbar */
.navbar {
    background-color: #17a2b8;
    border-bottom: 3px solid #138496;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.navbar .nav-link {
    color: #f8f9fa !important;
    font-size: 18px;
    font-weight: 600;
    transition: color 0.3s ease-in-out;
}

.navbar .nav-link:hover {
    color: #ffffff !important;
    font-size: 20px;
    transition: font-size 0.3s ease;
}

/* Navbar Toggler Icon */
.navbar .navbar-toggler-icon {
    background-color: #f8f9fa;
}

/* Table styles */
.table {
    border-collapse: collapse;
    width: 100%;
}

.table th, .table td {
    padding: 12px;
    text-align: left;
}

.table th {
    background-color: #fbfcfc;
    color: #050505;
}

.table td {
    word-wrap: break-word;
    white-space: normal;
}
