
.row{
    margin-top: 25px;
    margin-bottom: 25px;
}

.reflist {

}

.extrafields {
    display: none;
    border-style: solid;
    border-radius: 15px;
    border-color: #0d6efd;
    overflow: hidden;
}

.reflist:hover + .extrafields{
    display: table-row;
}

.reflist:hover{
    background-color: #0d6efd;
    color: #fff;
    border-style: solid;
    border-color: #0d6efd;
}